/* app general style */

body {
  font-family: 'Nunito-Variable';
}

/* Fonts */
@font-face {
  font-family: 'Nunito-Variable';
  src: url('./fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

.font-nunito-variable {
  font-family: 'Nunito-Variable';
}

@font-face {
  font-family: 'Nunito-Italic-Variable';
  src: url('./fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: italic;
}

.font-nunito-variable-italic {
  font-family: 'Nunito-Italic-Variable';
}

@font-face {
  font-family: 'Nunito-ExtraLight';
  src: url('./fonts/Nunito-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

.font-nunito-extralight {
  font-family: 'Nunito-ExtraLight';
}

@font-face {
  font-family: 'Nunito-ExtraLightItalic';
  src: url('./fonts/Nunito-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: italic;
}

.font-nunito-extralight-italic {
  font-family: 'Nunito-ExtraLightItalic';
}

@font-face {
  font-family: 'Nunito-Light';
  src: url('./fonts/Nunito-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

.font-nunito-light {
  font-family: 'Nunito-Light';
}

@font-face {
  font-family: 'Nunito-LightItalic';
  src: url('./fonts/Nunito-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

.font-nunito-light-italic {
  font-family: 'Nunito-LightItalic';
}

@font-face {
  font-family: 'Nunito-Regular';
  src: url('./fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

.font-nunito-regular {
  font-family: 'Nunito-Regular';
}

@font-face {
  font-family: 'Nunito-Italic';
  src: url('./fonts/Nunito-Italic.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

.font-nunito-italic {
  font-family: 'Nunito-Italic';
}

@font-face {
  font-family: 'Nunito-Medium';
  src: url('./fonts/Nunito-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

.font-nunito-medium {
  font-family: 'Nunito-Medium';
}

@font-face {
  font-family: 'Nunito-MediumItalic';
  src: url('./fonts/Nunito-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

.font-nunito-medium-italic {
  font-family: 'Nunito-MediumItalic';
}

@font-face {
  font-family: 'Nunito-SemiBold';
  src: url('./fonts/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

.font-nunito-semibold {
  font-family: 'Nunito-SemiBold';
}

@font-face {
  font-family: 'Nunito-SemiBoldItalic';
  src: url('./fonts/Nunito-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}

.font-nunito-semibold-italic {
  font-family: 'Nunito-SemiBoldItalic';
}

@font-face {
  font-family: 'Nunito-Bold';
  src: url('./fonts/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

.font-nunito-bold {
  font-family: 'Nunito-Bold';
}

@font-face {
  font-family: 'Nunito-BoldItalic';
  src: url('./fonts/Nunito-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

.font-nunito-bold-italic {
  font-family: 'Nunito-BoldItalic';
}
